
body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-top: 9em;
    flex-direction: column;
    height: 20em;
    width: 20em;
    background-color: #ECF0F1;
   /*  background-color: #E74C3C; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

input {
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #ECF0F1;
}


.save {
    padding: 0.5em;
    background-color: rgb(38, 170, 45);
    cursor: pointer;
    transition: 0.5s;
    color: #ECF0F1;
    font-size: 1.1em;
    border: none;
    -webkit-transition-delay: 1s; /* Safari */
    transition-delay: 1s;
}
.update {
    padding: 0.5em;
    background-color: #3498DB;
    cursor: pointer;
    transition: 0.5s;
    color: #ECF0F1;
    font-size: 1.1em;
    border: none;
}
.delete {
    padding: 0.5em;
    background-color: #E74C3C;
    cursor: pointer;
    transition: 0.5s;
    color: #ECF0F1;
    font-size: 1.1em;
    border: none;
}

.delete:hover, .update:hover, .save:hover {
    filter: brightness(85%);
}

