
body {
    margin: 0;
    background-color: #2C3E50;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    justify-content: center;
    padding: 2em;
    margin-top: 2em;
    flex-direction: column;
    height: 20em;
    width: 20em;
    background-color: #E74C3C;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);

}

input {
    font-size: 1.2em;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: #ECF0F1;
}


.save {
    padding: 1em;
    background-color: #ECF0F1;
    cursor: pointer;
    transition: 0.5s;
    color: #3498DB;
   
}
.update {
    padding: 1em;
    background-color: #ECF0F1;
    cursor: pointer;
    transition: 0.5s;
    color: #3498DB;
}
.delete {
    padding: 1em;
    background-color: #ECF0F1;
    cursor: pointer;
    transition: 0.5s;
    color: #3498DB;
}

.delete:hover, .update:hover, .save:hover {
    filter: brightness(85%);
    
}